@import url('https://fonts.googleapis.com/css?family=Poppins:300,600|Roboto:300,400,500');

/*----------------------------Navigation */

.navbar {
    margin-bottom: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: transparent;
    border: 0;
    z-index: 1;
}

.navbar>.container-fluid {
    padding: 0;
}

.navbar>.container-fluid>.col-sm-6 {
    padding: 0;
}

.navbar-default .navbar-collapse {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-color: transparent;
    transition: all 0.2s ease-in-out;
}

.navbar-nav-container {
    height: 100vh;
    /* Vertically align content of container */
    display: flex;
    align-items: center;
}

.navbar-nav-wrapper {
    width: 100%;
}

.navbar-nav {
    margin-left: 30px;

}

.navbar-nav>li {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 30px;
}

.navbar-nav>li>a {
    display: inline;
}

.navbar-nav>.home {
    font-weight: 300;
    margin-left: -20px;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li.active {
    color: #f7f4e5;
    background-color: transparent;
}

.nav-icons {
    text-align: center;
    margin-top: 20px;
}

.contact-links {
    margin-bottom: 20px;
}

.contact-links ul,
.social-links ul {
    padding: 0;
}

.contact-links i,
.social-links i {
    width: 36px;
    height: 36px;
    padding-top: 13px;
    margin: 4px 7px;
    border-radius: 50%;
    border: 1px solid #f7f4e5;
    font-size: 17px;
    line-height: 7px;
    text-align: center;
    color: #f7f4e5;
    background-color: transparent;
}

/* Navigation toggle button */

#nav-toggle {
    display: block;
    position: absolute;
    top: 50vh;
    right: 0;
    z-index: 1;
    margin: 0;
}

#nav-toggle i {
    width: 50px;
    height: 50px;
    padding-top: 20px;
    margin-right: 20px;
    border-radius: 50%;
    border: 2px solid #f7f4e5;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color: #f7f4e5;
    background-color: #c31800;

}

#nav-toggle,
#nav-toggle:focus,
#nav-toggle:hover {
    color: #f7f4e5;
}

#nav-toggle[aria-expanded="true"] .fa-bars:before {
    content: "\f00d";
}


/* Maintain toggle nav in table and desktop */

.navbar-collapse.collapse {
    display: none!important;
}

.navbar-collapse.collapse.in {
    display: block!important;
}

.navbar-nav {
    float: none!important;
}

.navbar-nav>li {
    float: none;
}

/*----------------------------BG Video */

.bg-video {
    position: fixed;
    top: 0;
    left: -60%;
    min-width: 100%;
    min-height: 100%;
}

/*----------------------------Home */

.home-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.callout-container {}

/*----------------------------Media Queries */

@media (min-width: 768px) {
    .bg-video {
        left: -28%;
    }
}

@media (min-width: 992px) {
    .bg-video {
        left: 0;
    }
}
