@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,600|Roboto:300,400,500');

/*--------------------------------------------------General Styling */

a,
a:hover {
    text-decoration: none;
}

/* Icons */

.bordered-icon {
    width: 36px;
    height: 36px;
    padding-top: 13px;
    margin: 4px 7px;
    border-radius: 50%;
    border: 1px solid #f7f4e5;
    font-size: 17px;
    line-height: 7px;
    text-align: center;
    color: #f7f4e5;
    background-color: transparent;
}

/*--------------------------------------------------Navigation */

.navbar-main {
    margin-bottom: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: transparent;
    border: 0;
    z-index: 1031;
}

.navbar>.container-fluid {
    padding: 0;
}

.navbar>.container-fluid>.col-sm-6 {
    padding: 0;
}


.navbar-bg-image .navbar-collapse.collapse {
    max-height: 100vh;
    height: 100vh !important;
    width: 50%;
    /*background-color: rgba(0, 0, 0, 0.7);*/
    background: url(../images/bg-home.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    border-color: transparent;
    transition: all 0.2s ease-in-out;
}

.navbar-main .navbar-collapse {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    border-color: transparent;
    transition: all 0.2s ease-in-out;
}

.navbar-nav-container {
    height: 100vh;
    /* Vertically align content of container */
    display: flex;
    align-items: center;
}

.navbar-nav-wrapper {
    width: 100%;
}

.navbar-nav {
    margin-left: 30px;

}

.navbar-nav>li {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 30px;
}

.navbar-nav>li>a {
    display: inline;
}

.navbar-nav>.home {
    font-weight: 300;
    margin-left: -20px;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li.active {
    color: #f7f4e5;
    background-color: transparent;
}

.nav-icons {
    text-align: center;
    margin-top: 20px;
}

.contact-links {
    margin-bottom: 20px;
}

.contact-links ul,
.social-links ul {
    padding: 0;
}

/* Navigation toggle button */

#nav-toggle {
    display: block;
    position: absolute;
    top: 45vh;
    right: 0;
    z-index: 1;
    margin: 0;
}

#nav-toggle i {
    width: 50px;
    height: 50px;
    padding-top: 20px;
    margin-right: 20px;
    border-radius: 50%;
    border: 2px solid #f7f4e5;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color: #f7f4e5;
    background-color: #c31800;

}

#nav-toggle,
#nav-toggle:focus,
#nav-toggle:hover {
    color: #f7f4e5;
}

#navbar.in~#nav-toggle>.fa-bars:before {
    content: "\f00d";
}


/* Maintain toggle nav in table and desktop */

.navbar-collapse.collapse {
    display: none!important;
}

.navbar-collapse.collapse.in {
    display: block!important;
}

.navbar-nav {
    float: none!important;
}

.navbar-nav>li {
    float: none;
}

/*--------------------------------------------------Header */

.header {
    margin-top: 20px;
}

.heading a {
    font-family: "Poppins", sans-serif;
    color: #f7f4e5;
    display: inline-block;
}

.heading span {
    display: block;
}

.heading hr {
    border: none;
    border-top: medium double #f7f4e5;
    margin-top: 0;
    margin-bottom: -3px;
    text-align: center;
}

/*--------------------------------------------------Home */

/* BG Video */

.home-section .bg-video {
    position: fixed;
    top: 0;
    left: -85%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.home-section .home-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

/* Callout */

.home-section .callout-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    /* Vertically align content of container */
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-section .callout-container.container-fluid {
    padding: 0;
}

.home-section .callout-container .jumbotron {
    background-color: transparent;
    color: #f7f4e5;
    font-family: "Poppins", sans-serif;
}

.home-section .callout-container h2 {
    font-weight: 100;
}

.home-section .callout-container .jumbotron span {
    display: block;
    margin-bottom: 10px;
}

.home-section .callout-btn {
    margin-top: 20px;
}

/* Contact */

.home-section .contact-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home-section .contact-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home-section .contact-container .well {
    background-color: transparent;
    color: #f7f4e5;
    padding: 14px;
    height: 100px;
}

.home-section .contact-container .well a {
    color: #f7f4e5;
    display: block;
}

.home-section .contact-container .well i {
    margin: 10px;
}

/*--------------------------------------------------Media Queries */

@media (min-width: 540px) {
    .home-section .bg-video {
        left: -50%;
    }
}

@media (min-width: 768px) {
    .home-section .bg-video {
        left: -28%;
    }
}

@media (min-width: 992px) {
    .home-section .bg-video {
        left: 0;
    }
}
